html
{
	font-family: arial;
	padding: 0;
	margin: 0;
}
body
{
	background: #edeef0;
	margin: 0;
	margin-left: 20px;
	font-family: Verdana;
}
h1
{
	text-align: center;
}
.title
{

	display: block;
	text-align: center;
	position: relative;
	font-size: 30px;
	color: white;
}
.float
{
	background: #2b2c2d;
	margin-left: 10px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	float: left;
	  border-width: 2px;
	  border-radius: 5px;
  border-color: gray;
  border-style: solid;
}
.border
{
	border: 1px solid black;
}
